.container {
    display: flex;
    gap: 3rem;
  margin-top: 1.5rem;
}
.review {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comment {
  display: flex;
  align-items:center ;
  gap: 1rem;
  border-bottom: 2px solid black;
}
.title__comment{
    font-weight: 700;
}
p{
    font-size: 1.1rem;
}